<section id="about">
  <div class="socials">
    <div class="social">
      <a href="https://linkedin.com/" class="social-icon-link" target="_blank">
        <img src="images/svg/linkedin-dark.svg" alt="Laura Rivera Linkedin Profile" class="social-icon">
      </a>
    </div>
    <div class="social">
      <a href="https://github.com" class="social-icon-link" target="_blank">
        <img src="images/svg/github-dark.svg" alt="Laura Rivera Github Profile" class="social-icon">
      </a>
    </div>
    <div class="social">
      <a href="https://instagram.com" class="social-icon-link" target="_blank">
        <img src="images/svg/black-instagram-icon.svg" alt="Laura Instagram" class="social-icon">
      </a>
    </div>
  </div>
  <p class="title">¡Hola!, mi nombre es Laura Rivera.</p>
  <br>
  <p class="text">
    Soy una apasionada desarrolladora web en formación, explorando el fascinante mundo de la programación.
    Actualmente, estoy aprendiendo lenguajes como HTML5, CSS3, Javascript y Angular;
    además de herramientas y tecnologías como Angular para manejo de APIs y Bootstrap para diseño responsivo.
    Este espacio refleja mi viaje de aprendizaje y crecimiento en el desarrollo web.
  </p>
</section>
