<section id="contact">
  <div class="row align-items-center">
    <div class="col">
      <form class="form" action="#">
        <p class="title">Contacto</p>
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="email" placeholder="Correo">
          <label for="email">Correo</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="subject" placeholder="Asunto">
          <label for="subject">Asunto</label>
        </div>
        <div class="form-group mb-3">

          <textarea class="form-control" id="message" style="height: 200px" placeholder="Mensaje"></textarea>
        </div>
        <button type="submit" class="btn btn-primary send">Enviar</button>
      </form>
    </div>
    <div class="col">
      <img class="image" src="images/svg/contacto.svg" alt="stramipyme">
    </div>
  </div>
</section>
