footer {
    font-size: 20px;
}

footer .img:first-child {
    max-width: 400px;
}

footer li {
    list-style: none;
}

footer a {
    text-decoration: none;
    color: black;
}
.social-icon-link {
    display: block;
    padding: 1rem;
    transition: background .4s;
    border-radius: 5px;
}
img {
    width: 50%;
}
.icon {
    max-width: 25px;
    padding-right: 5px;
}