<footer class="container-fluid d-flex justify-content-around flex-wrap bg-gray">
    <img src="images/svg/nodo-eafit.svg" alt="Nodo Universidad EAFIT" class="img" />
    <div class="col-12 col-md-6 col-xl-3 my-4 pt-md-3">
      <ul class="d-flex flex-wrap flex-column row-gap-3">
        <li>
          <a href="mailto:laura.rivera.henao&#64;gmail.com" target="_blank">
            <img src="images/svg/envelope-fill.svg" class="icon">laura.rivera.henao&#64;gmail.com
          </a>
        </li>
        <li>
          <a href="tel:+573000000000" target="_blank">
            <img src="images/svg/telephone-fill.svg" class="icon">+57 3000000000
          </a>
        </li>
        <li>
          <a href="https://www.google.com/maps/search/?api=1&query=Cra+20+%23+30+a+-+50,+Medell%C3%ADn" target="_blank">
            <img src="images/svg/geo-alt-fill.svg" class="icon">Cra 22 # 32 a - 50, Medellín
          </a>
        </li>
      </ul>
    </div>
    <div class="col-10 col-md-6 col-xl-2 d-flex column-gap-3 pt-md-5">
      <a target="_blank" href="https://www.linkedin.com/in/laura-rivera-henao">
        <img src="images/svg/linkedin-dark.svg" alt="Laura Rivera Linkedin Profile" class="social-icon">
      </a>
      <a target="_blank" href="https://github.com/Laurariverahenao">
        <img src="images/svg/github-dark.svg" alt="Laura Rivera Github Profile" class="social-icon">
      </a>
      <a target="_blank" href="https://instagram.com/pixeldreams06">
        <img src="images/svg/black-instagram-icon.svg" alt="Laura Instagram" class="social-icon">
      </a>
    </div>
  </footer>